@font-face {
  font-family: 'MyFont';
  src: url('./sf-pro-display/SFPRODISPLAYBOLD.OTF') format('opentype'); /* or format('otf') */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyFontLight';
  src: url('./sf-pro-display/SFPRODISPLAYREGULAR.OTF') format('opentype'); /* or format('otf') */
  font-weight: normal;
  font-style: normal;
}



:root {
  --font-bold: 'MyFont';
  --font-light: 'MyFontLight';

  --color-black-1: #1F1F1F;

  --color-white-0:#FFFFFF;
  --color-white-1:#F7F6F8;

  --color-gray-0:#E5E5EA;
  --color-gray-3:#858585;
  --color-gray-2:#343436;
  --color-gray-1:#1C1C1E;
}

.squirclized {
  border-radius: 12px; /* Or any desired radius */
  clip-path: polygon(
    50% 0%,
    100% 20%,
    100% 80%,
    50% 100%,
    0% 80%,
    0% 20%
  );

}

body {
  font-family: 'MyFontLight', sans-serif;
  background-color: var(--color-white-1);
  color: var(--color-black-1);
}

hr {
  border-top: 1px var(--color-gray-0) solid;
}

h1 {
  font-family: 'MyFont', sans-serif;
  font-size: 24px;
  color: var(--color-black-1);
}

.myfont {
  font-family: 'MyFont', sans-serif;
}

.secondary {
  color: var(--color-gray-3);
}

.main_holder {
  width: 70vh;
  border: 1px solid var(--color-gray-0);
  border-radius: 12px;
  padding: 0 20px;
  margin: 20vh 0 20vh 50vw;
  transform: translateX(-50%);
}

.hfill {
  display: flex;
  justify-content: space-between;
}

.f32 {
  font-size: 32px;
}

.f24 {
  font-size: 24px;
}

.image {
  height: 200px;
  /* aspect-ratio: 1 /1; */
  object-fit: cover;
  border-radius: 12px;
}